body{
    background-color:#000000;
    color:#E6E6E6;
    font-family:"Audiowide", sans-serif;
}

.nav{
    text-align:center;
    display:block;
    top:0px;
    left:0%;
    background-color:#FF6A00;
    color:#FFFFFF;
    width:100%;
    height:10%;
    padding:10px 0;
}

h1.nav{
    position: relative;
    text-shadow:0px 0px 20px;
}

#overlay{
    background-color:#000000;
    opacity:0.8;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    z-index:2;
}

#popup{
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align:center;
    width:30%;
    height:30%;
    background-color:#F5F7F6;
    border:none;
    border-radius:8px;
    top:35%;
    left:35%;
    position:fixed;
    display:none;
    z-index:3;
}

.wrap-con{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding:10px;;
}

.wrap{
    background-color:#F5F7F6;
    color:#000000;
    text-align:center;
    width:30%;
    height:auto;
    border:none;
    border-radius:8px;
    margin:10px;
}

.wrap h1{
    padding:10px 20px;
    background-color:#FF6A00;
    color:#FFFFFF;
    margin:0;
    border-radius:8px 8px 0 0;
}

.delete{
    margin-bottom:10px;
    background-color:#FF6A00;
    color:white;
    padding:5px 15px;
    border:1px solid #FF6A00;
    border-radius:12px;
    cursor:pointer;
}

.delete:hover{
    background-color:white;
    color:#FF6A00;
}

#add{
    font-size:200%;
    border:none;
    border-radius:50%;
    padding:30px 40px;
    background-color:#FF6A00;
    right:2%;
    bottom:3%;
    position:fixed;
    z-index:1;
}
#add:hover{
    background-color:#1C1F26;
    color:#FF6A00;
    border: 2px solid #FF6A00;
    z-index:1;
}
label{
    color:#FF6A00;
    display:inline-block;
}
input{
    display:inline-block;
}
.search{
    line-height:30px;
    position:absolute;
    right:2%;
    top:4%;
    padding:10px 30px 10px 30px;
    border-radius:24px;
    border:none;
}
